.chatOuterContainer {
  flex-grow: 1;
  padding: 2.5rem;
}
.chatInnerContainer {
  border: 1px solid rgb(66, 82, 110);
  box-shadow: 0rem 0.1rem 0.25rem 0rem rgb(66, 82, 110);
  margin: auto;
  width: 70%;
  padding: 1rem auto;
}
