.loginForm {
  border: 1px solid rgba(66, 82, 110, 0.25);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 21.85rem;
  justify-content: center;
  margin: 10rem;
  padding: 0rem 2rem;
  position: relative;

  .inputField,
  button {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    margin: 1rem 0rem;
    width: 20rem;
  }

  a {
    text-decoration: none;
    text-align: center;
  }

  a:visited {
    color: blue;
  }

  fieldset {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;

    legend {
      font-weight: bold;
      margin-bottom: 0.75rem;
      text-align: center;
    }

    .inputField {
      position: relative;

      i {
        color: rgb(66, 82, 110);
        height: 2rem;
        left: 0.5rem;
        position: absolute;
        top: 1.3rem;
      }

      input:focus + label,
      input:not(:placeholder-shown) + label {
        color: rgb(66, 82, 110);
        transform: translate(-2.5rem, -2.25rem);
      }

      input {
        border: 1px solid rgba(66, 82, 110, 0.25);
        border-radius: 0.25rem;
        font-size: 1rem;
        height: 1.5rem;
        margin: 0.75rem 0;
        padding: 0.5rem;
        padding-left: 2.75rem;
      }

      input:focus {
        box-shadow: 0 0 2px 1px rgb(68, 126, 215);
        outline: none;
      }

      label {
        color: rgba(66, 82, 110, 0.8);
        left: 2.75rem;
        pointer-events: none;
        position: absolute;
        top: 1.25rem;
        transition: ease 0.2s transform;
        span {
          font-size: 0.75rem;
        }
      }

      ::placeholder {
        color: white;
      }
    }

    .loginButton {
      display: flex;
      justify-content: center;

      button {
        align-items: center;
        background-color: rgb(0, 82, 204);
        border: 1px solid rgba(66, 82, 110, 0.25);
        border-radius: 0.25rem;
        color: white;
        padding: 0.5rem;
      }

      button:disabled {
        background-color: rgba(0, 82, 204, 0.5);
      }
    }
  }

  p {
    color: red;
    position: absolute;
    text-align: center;
    top: 6.5%;
    width: 21.7rem;
  }
}
