$box-shadow: 0rem 0.1rem 0.25rem 0rem rgb(66, 82, 110);

$colors: (
  blue: rgb(68, 126, 215),
  dark-blue: rgb(0, 82, 204),
  dark-gray: rgb(66, 82, 110),
  gray: rgb(235, 236, 240),
  green: rgb(0, 135, 90),
  light-gray: rgb(244, 245, 247),
  purple: rgb(82, 68, 171),
  white: rgb(255, 255, 255),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

.navbar {
  background-color: color(white);
  border-bottom: 1px solid color(light-gray);
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  a,
  ul {
    align-items: center;
    color: color(dark-gray);
    display: flex;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  span {
    color: color(dark-blue);
    margin-left: 0.25rem;
  }

  .logo {
    align-items: center;
    display: flex;

    a {
      align-items: center;
      color: color(blue);
      display: flex;
      font-family: 'Marcellus SC', serif;
      padding: 0;
    }

    i {
      align-items: center;
      display: flex;
      font-size: 2rem;
      height: 2.5rem;
      justify-content: center;
      margin: 0 0.75rem;
      width: 2.5rem;
    }
  }

  .rightNav {
    display: flex;
    height: 100%;
    align-items: center;
    a {
      margin: 0;
    }
    li {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1rem;
    }
    li:hover {
      background-color: color(light-gray);
    }
  }
}
