.sidebarContainer {
  align-items: center;
  background-color: rgb(235, 236, 240);
  box-shadow: 0rem 0.1rem 0.25rem 0rem rgb(66, 82, 110);
  display: flex;
  flex-direction: column;
  height: 100%;

  ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    a,
    a:visited {
      align-items: center;
      color: rgb(66, 82, 110);
      display: flex;
      flex-grow: 1;
      font-family: 'Poppins', sans-serif;
      height: 4rem;
      padding-left: 1rem;
      text-decoration: none;
      width: 10rem;

      i {
        color: black;
        margin-right: 0.5rem;
      }
    }

    a:hover {
      color: rgb(0, 82, 204);

      i {
        color: rgb(0, 82, 204);
      }
    }
  }
}

.active {
  background-color: rgba(66, 82, 110, 0.2);
}
