$colors: (
  blue: rgb(68, 126, 215),
  dark-blue: rgb(0, 82, 204),
  dark-gray: rgb(66, 82, 110),
  gray: rgb(235, 236, 240),
  green: rgb(0, 135, 90),
  light-gray: rgb(244, 245, 247),
  purple: rgb(82, 68, 171),
  white: rgb(255, 255, 255),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

.sidebarContainer {
  align-items: center;
  background-color: color(gray);
  box-shadow: 0rem 0.1rem 0.25rem 0rem color(dark-gray);
  display: flex;
  flex-direction: column;
  height: 100%;
  ul {
    height: 100%;
    list-style: none;
    padding: 0;
    li {
      align-items: center;
      display: flex;
      font-family: 'Poppins', sans-serif;
      margin: 1rem 0;
      i {
        margin-right: 0.5rem;
      }
    }
  }
}
