.footer {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(244, 245, 247);
  color: rgb(66, 82, 110);
  display: flex;
  justify-content: center;

  p {
    font-family: 'Poppins', sans-serif;
  }

  span {
    font-family: 'Marcellus SC', serif;
  }
}
